<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Options</title>
    <link rel="stylesheet" href="/static/careeroption.css">
</head>
<body>
    <header>
        <h1>Explore Exciting Job Options</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#jobs">Jobs</a></li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <div class="job">
            <h1>Archeologist</h1>
            <p><img src="/static/archeologist.jpg" alt="image"><br>They excavate, recover, and analyze physical evidence of human culture by examining artifacts, like tools, buildings, burial sites, pottery, and clothing. Archaeologists can work for research organizations, consulting and cultural resource management firms, government agencies, and museums.
                
            </p>
            <a href="/static/https://en.wikipedia.org/wiki/Archaeology">Know more</a>
        </div>
        <div class="job">
            <h1>Data Analyst</h1>
            <p><img src="/static/data analyst.png"><br>Interpreting data, analyzing results using statistical techniques. Developing and implementing data analyses, data collection systems and other strategies that optimize statistical efficiency and quality.</p>
            <a href="https://en.wikipedia.org/wiki/Data_analysis">Know more</a>
        </div>
        <div class="job">
            <h1>Photographer</h3>
            <p><img src="/static/phtographer.jpeg"> <br>
                A person who takes photographs, especially one who practices photography professionally. 
            </p>
            <a href="https://en.wikipedia.org/wiki/Photographer">Know more</a>
        </div>
        <div class="job">
            <h1>Animator</h1>
            <p> <img src="/static/animator.jpg"> <br>
                An animator is an artist who creates multiple images, known as frames, which give an illusion of movement called animation when displayed in rapid sequence.
            </p>
            <a href="https://en.wikipedia.org/wiki/Animator">Know more</a>
            
        </div>
        <div class="job">
            <h1>Event Planner</h1>
            <p><img src="/static/event planner.jpg"> <br>
                An event planner, also known as an event coordinator or event specialist , is an individual responsible for organizing and coordinating meetings and special events, such as ceremonies, parties, weddings, corporate gatherings and fundraisers.</p>
            <a href="https://en.wikipedia.org/wiki/Event_management">Know more</a>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Job Options</p>
        </div>
    </footer>
</body>
</html>
