<div class="job">
    <h3>Archeologist</h3>
    <p>They excavate, recover, and analyze physical evidence of human culture by examining artifacts, like tools, buildings, burial sites, pottery, and clothing. Archaeologists can work for research organizations, consulting and cultural resource management firms, government agencies, and museums.</p>
    <a href="https://en.wikipedia.org/wiki/Archaeology">Know more</a>
</div>
<div class="job">
    <h3>Data Analyst</h3>
    <p>Interpreting data, analyzing results using statistical techniques. Developing and implementing data analyses, data collection systems and other strategies that optimize statistical efficiency and quality.</p>
    <a href="https://en.wikipedia.org/wiki/Data_analysis">Know more</a>
</div>
<div class="job">
    <h3>Photographer</h3>
    <p>
        A person who takes photographs, especially one who practices photography professionally. 
    </p>
    <a href="https://en.wikipedia.org/wiki/Photographer">Know more</a>
</div>
<div class="job">
    <h3>Animator</h3>
    <p>An animator is an artist who creates multiple images, known as frames, which give an illusion of movement called animation when displayed in rapid sequence.
    </p>
    <a href="https://en.wikipedia.org/wiki/Animator">Know more</a>