<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ombudsman</title>
    <link rel="icon" type="image/png" href="/static/ombudsman logo new.png">
    <script src="https://kit.fontawesome.com/3297a86c4a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/homepagecss.css">
<link rel="stylesheet" href="/static/ourteam.css">
<link rel="stylesheet" href="/static/1.css">
</head>
<style>




    
{% block body %} {%endblock body%}
    

body{
    background-image: url("/static/pic1.png");
    background-repeat: no-repeat;
}
</style>
<body>
<header>



    <h1><img id="logohead" src="/static/ombudsman logo new.png" alt="Logo">
        <big>OMBUDSMAN:</big><small> Learn, Explore and Communicate!</small></h1>

    <div id="navbar">
        

        <a href="/static/careeroption.html"><button>Career</button></a>
        <a href="/static/services.html"><button>Services</button></a>
        <a href="/static/helpdesk.html"><button>Helpdesk</button></a>
        <a><button>Announcements</button></a>
        <a><button>E-Learning</button></a>
        <a href="/static/login.html"><button>Account</button></a>
        
            <input id="input" placeholder="search ombudsman.in">
            

</header>

<section>
    </div>
    <br> 
<h2 id="coach">Learn from your Coach !!</h2>
<br>   
<div> </div>
    
        <p id="par">Make your education reach a new level with our online consultancy system.<br> 
             Track every academic progress, directly from the comfort of your home. Everything you need is totally free.
             <br> 
        <a  href="/static/aboutus.html"><button id="more">Learn more about us </button></a>
        </p>
        <br> 
        <br> 
    


    
    
        <h2 id="per1"> Personal Consultant</h2><br>
        <p id="para2"><cite> At any moment,<br>
            you may contact our consultant<br>
             through the in-app video <br>
             meeting system. </cite>
            <br>
            <br>
        </p>
        <br>
        <br>
        <br>
        <br>

<section id="part2">
    <style>
        .container {
position: relative;
font-family: Arial;
background-color: rgb(22,27,51);
padding-left: 50px;
padding-top:50px ;
padding-right:50px ;
padding-bottom: 50px;
}

.thought {
position: absolute;
top: 150px;
left: 20px;
right: 20px;
background: rgba(0, 0, 0, 0.5);
color: white;
font-size: 55;
font-family: cursive;
text-align: center;
padding-left: 20%;
padding-right: 20%;
        }
        img{
            height: 80%;
        }
        #button {
background-color: #0478aa;
border: none;
border-radius: 10px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
} 
        
    </style>
</head>
<body>
    <section>
        <article>
            <div class="container">
                <img  src="/static/ecole-inde.jpg" alt="Nature" style="width:100%;">
                <div class="thought">
                  <h2 style="color:white">Every student is a unique learner <br>and<br> At OMBUDSMAN we celebrate this Uniqueness...</h2>
                  <button id="button">Know more</button>
                </div>
              </div>
              
        </article>

</section>

        <section class="our-team">
            <h2>Meet Our Team</h2>
            <div class="team-container">
                <div class="team-member">
                    <img src="/static/2.png" alt="Sachin" width="50" height="100">
                    <h3>Sachin</h3>
                    
                    <a id="linkedin" href="https://www.linkedin.com/in/sachin-kumar-304881192/">LinkedIn</a>
                    <p>Hi, I'm Sachin. Currently, I'm studying computer science and passionate about technology and exploring new innovations and do coding.</p>
                </div>
                <div class="team-member">
                    <img src="/static/4.png" alt="Suman">
                    <h3>Suman</h3>
                    
                    <a id="linkedin"     href="https://www.linkedin.com/in/suman-singh-/">LinkedIn</a>
                    <p>I'm Suman ,I can help you with all your information technology and backend developer needs. I have experience in cybersecurity ethical hacking and networks.</p>
                </div>
                <div class="team-member">
                    <img src="/static/3.png" alt="Suyog">
                    <h3>Suyog</h3>
                    
                    <a id="linkedin"  href="https://www.linkedin.com/in/suyog-ghare-0273b32b3/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BnTrt1gV%2BTwaLqUuA8A%2BPUg%3D%3D">LinkedIn</a>
                    <p>Hello , My name is Suyog Sanjay Ghare. Currently studying computer science and data analysis and curious about knowing the roots of technology.</p>
                </div>
                <div class="team-member">
                    <img src="/static/16.jpg" alt="Kumari Khushi">
                    <h3>Khushi</h3>
            
                    <a id="linkedin"  href=https://www.linkedin.com/in/kumari-khushi-8226a22a6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app >LinkedIn</a>
                    <p>I'm Khushi having moderate experience in front-end devlopment and can help create designs.</p>
                </div>
                <div class="team-member">
                    <img src="/static/5.png" alt="Harshita">
                    <h3>Harshita</h3>
                    
                    <a id="linkedin"  href=https://www.linkedin.com/in/harshita-%E2%A0%80-2b500929a>LinkedIn</a>
                    <p>Hey my name is Harshita currently I am doing BSc in Computer Science and Data Analytics and my internet lies in data modelling</p>
                </div>
            </div>
        </section>    
        
        <footer>
            <div class="row">
              <div class="col">
                <img src="/static/ombudsman logo new.png" class="logo">
                <p id="description">We are more than just a website dedicated to helping students.
                 overcome their difficulties to reach their full potential
                </p>
              </div>
                  <div class="col">
                    <h2>COMPANY</h2>
                    <ul>
                    <li><a id="company" href="/static/aboutus.html">About Us</a></li>
                    <li><a  id="company" href="pv"> privacy policy</a> </li>
                    <li><a  id="company" href="t&c"></a> Terms and conditions</li>
                    <li><a  id="company" href="">Our Team</a></li>
                  </div>
                <div class="col">
                  <h2>Contact us</h2>
                   <a id="social" href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
                   <a id="social" href="www.facebook.com"> <i class="fa-brands fa-facebook"></i></a>
                   <a id="social" href="www.youtube.com"> <i class="fa-brands fa-youtube"></i></a>
                   <a id="social" href="www.twiter.com"> <i class="fa-brands fa-twitter"></i></a><hr>
                   <i class="fa-regular fa-envelope"></i><a href="google.com"><p>ombudsman2024@gmail.com</p></a>
                </div>
              </div>
            <hr>
            <div><p id="copyright">Copyright © OMBUDSMAN. All rights reserved</p></div>
          </footer>

            
        

    
</section>
</body>
</html>